@{
    var tercero = TempData["tercero"] as List<SitiosWeb.Model.ReposicionTercero>;

    dynamic vacaciones = Context.Request.Cookies["Vacaciones"];

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SitiosWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menus.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/4d99acc268.js" crossorigin="anonymous"></script>

</head>

<body>

    <header class="header">

        <a asp-action="IndexColaborador" asp-controller="Home">
            <img class="logo" src="~/images/logoMaster.jpeg" alt="Logo">
        </a>

        <div class="links">
            <a href="#">Inconsistencias</a>
            <a href="#">
                Dias de vacaciones @vacaciones @if (double.Parse(vacaciones) > 12.00)
                {
                    <i class="fa-solid fa-circle-exclamation" style="color:red;"></i>
                }
            </a>


            @if (tercero != null)
            {
                foreach (var terceroSoli in tercero)
                {

                    <br>
                    <a href="#" onclick="showModal()">
                        <i class="fa-solid fa-circle-exclamation" style="color:red;"></i>
                        Reposicion por tercero
                    </a>
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>Reposición por terceros</h2>
                                <span class="close" onclick="closeModal()">&times;</span>
                            </div>

                            <form id="modalForm" asp-action="AceptarTercero" asp-controller="Repo" asp-route-justificacion="@terceroSoli.Justificacion">

                                <div class="select-container">
                                    <label>
                                        Solicitud de reposicion de horas por tercero<br>
                                        Id del solicitante: @terceroSoli.Idsolicitante<br>
                                        Id del solicitante: @terceroSoli.IdsolicitanteNavigation.Nombre @terceroSoli.IdsolicitanteNavigation.Apellidos
                                    </label>
                                </div>
                                <div class="buttonsModal">
                                    <button type="submit" name="action" value="Rechazar">Rechazar</button>
                                    <button type="submit" name="action" value="Aceptar">Aceptar</button>
                                </div>

                            </form>
                        </div>

                    </div>
                }

            }
        </div>


        <div class="user" style="position: relative;">
            <div class="borde"><i class="fa-solid fa-user"></i></div>

            <a href="#" onclick="toggleDropdown()">@User.Identity.Name<br />Colaborador</a>
            <div class="dropdown" id="dropdown">
                <a href="#">Acerca de</a>
                <a asp-controller="Home" asp-action="CerrarSesion">Cerrar sesión</a>
            </div>
        </div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
<script>
    function toggleDropdown() {
        var dropdown = document.getElementById('dropdown');
        if (dropdown.style.display === 'none' || dropdown.style.display === '') {
            dropdown.style.display = 'block';
        } else {
            dropdown.style.display = 'none';
        }
    }

    window.onclick = function (event) {
        if (!event.target.closest('.user')) {
            var dropdown = document.getElementById('dropdown');
            if (dropdown.style.display === 'block') {
                dropdown.style.display = 'none';
            }
        }
    }
    function showModal() {
        document.getElementById('myModal').style.display = 'block';
    }

    // Función para cerrar el modal
    function closeModal() {
        document.getElementById('myModal').style.display = 'none';
    }

    // Cerrar el modal si se hace clic fuera del contenido del modal
    window.onclick = function (event) {
        if (event.target == document.getElementById('myModal')) {
            closeModal();
        }
    }
</script>