@model IEnumerable<SitiosWeb.Model.Inconsistencias>
@{
    Layout = "~/Views/Shared/_LayoutJefatura.cshtml";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/menuInconsistencias.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inconsistencias</title>
</head>
<body>
    <div class="wrapper">
        <div class="vertical-menu">
            <h4>Filtrar por:</h4>
            <a href="" class="active">Opciones</a>
            <a href="">Nombre</a>
            <a href="">Identificación</a>
        </div>

        <div id="contenedor">
            <div id="contenido">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p>
                                Fecha Inconsistencia: @item.FechaInconsistencia.ToString()
                                <br />
                                Identificación: @item.IdEmpleado.ToString()
                                <br />
                                Nombre: @item.IdEmpleadoNavigation.Nombre
                                <br />
                                Número de Justificación: @item.IdJustificacion.ToString()
                                <br />
                                Tipo de Inconsistencia: @item.IdTipoInconsistenciaNavigation.Descripcion
                                <br />
                                <a asp-action="Justificacion" asp-route-id="@item.IdJustificacion">Justificación</a>
                            </p>
                        </td>
                    </tr>
                }
            </div>


        </div>

        <div id="pie">
            <a href="../Menu/menuSupervisor.html"> Volver al menú</a>
        </div>
    </div>
</body>
</html>