@model IEnumerable<SitiosWeb.Model.Inconsistencias>

@{
    Layout = "~/Views/Shared/_LayoutJefatura.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaInconsistencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdJustificacionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoInconsistenciaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInconsistencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdJustificacionNavigation.IdJustificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoInconsistenciaNavigation.IdTipoInconsistencia)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdInconsistencia">Edit</a> |
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdInconsistencia">Details</a> |
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdInconsistencia">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
