@model IEnumerable<SitiosWeb.Model.Inconsistencias>

@{
    Layout = "~/Views/Shared/_LayoutJefatura.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/menuInconsistencias.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inconsistencias</title>
</head>
<body>
    <div class="wrapper">
        <div class="vertical-menu">
            <h4>Filtrar por:</h4>
            <a href="" class="active">Opciones</a>
            <a href="">Nombre</a>
            <a href="">Identificación</a>
        </div>

        <div id="contenedor">
            <div id="contenido">

                @foreach (var item in Model)
                {
                    <p>
                        Fecha Inconsistencia: @item.FechaInconsistencia.ToString()
                        <br />
                        Identificación: @item.IdEmpleado?.ToString()
                        <br />
                        Nombre: @item.IdEmpleadoNavigation?.Nombre
                        <br />
                        @if (item.IdJustificacion == null)
                        {
                            <span style="color:red;">Número de Justificación: No hay justificación</span>
                        }
                        else
                        {
                            <span style="color: green;">Número de Justificación: @item.IdJustificacion.ToString()</span>
                        }
                        <br />
                        Tipo de Inconsistencia: @item.IdTipoInconsistenciaNavigation?.Descripcion
                        <br />
                        <a asp-controller="Inconsistencias" asp-action="Justificacion" asp-route-id="@item.IdJustificacion">Justificación</a>
                    </p>
                }
                   
            </div>

            <div class="consultas">
                <form asp-controller="Inconsistencias" asp-action="IndexPorNombre" method="post">
                    <div class="form-group">
                        <label for="nombreEmpleado" class="control-label">Nombre</label>
                        <input type="text" id="nombreEmpleado" name="nombreEmpleado" class="form-control" />
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </div>
                </form>

                <form asp-controller="Inconsistencias" asp-action="IndexPorIdentificacion" method="post">
                    <div class="form-group">
                        <label for="idEmpleado" class="control-label">Identificacion</label>
                        <input type="text" id="idEmpleado" name="identificacion" class="form-control" />
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </div>
                </form>

                
            </div>
        </div>

        <div id="pie">
        </div>
    </div>
</body>

</html>
