@model IEnumerable<SitiosWeb.Model.TipoActividades>

@{
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/menuCRUD.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variables del Sistema</title>
</head>
<body>
    <div id="contenedor">
        <div class="vertical-menu">

            <a asp-controller="Home" asp-action="IndexActividades">Actividades</a>
            <a asp-controller="Home" asp-action="IndexInconsistencias">Inconsistencias</a>
            <a asp-controller="Home" asp-action="IndexPermisos">Permisos</a>
            <a asp-controller="Home" asp-action="IndexRebajos">Rebajos</a>
            <a asp-controller="Home" asp-action="IndexUsuarios">Usuarios</a>
            <a asp-controller="Home" asp-action="IndexDepartamentos">Departamentos</a>
            <a asp-controller="Home" asp-action="IndexPuestos">Puestos</a>
            <a asp-action="IndexSupervisor" asp-controller="Home"> Volver al menu</a>

        </div>

        <div id="contenido">
            <p>
                <a asp-controller="TipoActividades" asp-action="Create">Crear Nueva</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IdTipoActividad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NomActividad)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdTipoActividad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomActividad)
                            </td>
                            <td>
                                <a asp-controller="TipoActividades" asp-action="Edit"  asp-route-id="@item.IdTipoActividad">Editar</a>
                                <a asp-controller="TipoActividades" asp-action="Delete" asp-route-id="@item.IdTipoActividad">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
        </div>


    </div>

</body>
</html>