@model IEnumerable<SitiosWeb.Model.TipoActividades>

@{
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/menuCRUD.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variables del Sistema</title>
</head>
<body>
    <div id="contenedor">
        <div class="vertical-menu">
            <a href="menuCRUD.html" class="active">Menu</a>
            <a href="/Home/IndexActividades">Actividades</a>
            <a href="/Home/IndexInconsistencias">Inconcistencias</a>
            <a href="/Home/IndexPermisos">Permisos</a>
            <a href="/Home/IndexRebajos">Rebajos</a>
            <a href="/Home/IndexUsuarios">Usuarios</a>
            <a href="/Home/IndexDepartamentos">Departamentos</a>
            <a href="/Home/IndexPuestos">Puestos</a>
        </div>

        <div id="contenido">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IdTipoActividad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NomActividad)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdTipoActividad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomActividad)
                            </td>
                            <td>
                                <a asp-controller="TipoActividades" asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdTipoActividad">Editar</a> |
                                <a asp-controller="TipoActividades" asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdTipoActividad">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>
                <a asp-controller="TipoActividades" asp-action="Create" class="btn btn-success">Crear Nueva</a>
            </p>
        </div>

        <div id="pie">
            <a href="../Menu/menuSupervisor.html"> Volver al menu</a>
        </div>
    </div>

</body>
</html>