@model IEnumerable<SitiosWeb.Model.FechasReposicion>
@using System.Globalization
@{
    Layout = "~/Views/Shared/_LayoutJefatura.cshtml";
    var id = @Model.First().IdReposicion;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprobación de Reposiciones</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/calendar.css" />
    <script src="/js/reposicicionHorario.js"></script>

</head>
<body>
    <div class="contains">
        <div class="head">
            <img src="https://ld-wp73.template-help.com/imperion/corporatelanding/wp-content/uploads/2019/07/img-subscribe-737x1024.png"
                 alt="Form Image" class="image">
            <div class="titles">
                <h1 class="title-page">Aprobación de </h1>
                <h1 class="title-span">Reposiciones</h1>
            </div>
            
        </div>
        <div class="content">

            <div class="form">
                <div class="text-block">
                    <p>Colaborador: <br /><label class="font-semibold" id="Colaboradorlbl">@Model.First().IdReposicionNavigation.IdcolaboradorNavigation.Nombre @Model.First().IdReposicionNavigation.IdcolaboradorNavigation.Apellidos</label></p>

                    @foreach (var item in Model)
                    {
                        <p>@item.DiasReposicion.ToString("dd 'de' MMMM", CultureInfo.CreateSpecificCulture("es-ES")): <label class="font-semibold" id="lblhoras">@Html.DisplayFor(modelItem => item.HorasReposicion) Horas</label></p>
                    }
                </div>
                <div class="buttons">
                    <form asp-action="Aprobar" asp-controller="Repo" asp-route-id="@Model.First().IdReposicion" method="post">
                        <button type="submit">Aprobar</button>
                    </form>
                    <form asp-action="Denegar" asp-controller="repo" asp-route-id="@Model.First().IdReposicion" method="post">
                        <button type="submit">Denegar</button>
                    </form>
                </div>
            </div>
            <div class="calendar">
                <div class="calendar-header">
                    <button id="prevMonth">< </button>
                    <h2 id="monthYear"></h2>
                    <button id="nextMonth"> ></button>
                </div>
                <div class="days" id="calendarDays">
                </div>
            </div>
            
        </div>
    </div>
</body>

</html>
<script>
    let diaMarcar = [
    @for (var i = 0; i < Model.Count(); i++)
    {
        @: '@Model.ElementAt(i).DiasReposicion'
        @if (i < Model.Count() - 1)
        {
            @:,
        }
    }
        ];

</script>
