@model IEnumerable<SitiosWeb.Model.SolicitudHorasExtra>

@{
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprobación de Horas Extras</title>
    <link rel="stylesheet" type="text/css" href="~/css/aprobacion.css" />
</head>
<body>
    <div class="background-circle circle1"></div>
    <div class="background-circle circle2"></div>
    <div class="container" >
        <div class="header">
            <h1>Aprobar/Rechazar Horas Extras</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID del Solicitante</th>
                    <th>ID del Empleado</th>
                    <th>Fecha de Solicitud</th>
                    <th>Horas Extras</th>
                    <th>Tipo de Actividad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var solicitud in Model)
                {
                    <tr>
                        <td>@solicitud.IdSolicitante</td>
                        <td>@solicitud.IdEmpleado</td>
                        <td>@solicitud.FechaSolicitud.ToString("yyyy-MM-dd")</td>
                        <td>@solicitud.Horas</td>
                        <td>@solicitud.IdTipoActividadNavigation?.NomActividad</td>
                        <td>
                            <form asp-action="Aprobar" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@solicitud.IdSolicitud" />
                                <button type="submit" name="action" value="Aprobar" class="accept">Aprobar</button>
                            </form>
                            <form asp-action="Denegar" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@solicitud.IdSolicitud" />
                                <button type="submit" name="action" value="Rechazar" class="deny">Rechazar</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="@Url.Action("IndexColaborador", "Home")" class="btn btn-secondary">Cancelar</a>
    </div>
</body>
</html>
