@model IEnumerable<SitiosWeb.Model.BloqueoDias>;
@{
    if (User.IsInRole("JEFATURA"))
    {
        Layout = "~/Views/Shared/_LayoutJefatura.cshtml";
    }
    else if (User.IsInRole("COLABORADOR"))
    {
        Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
    }
    else if (User.IsInRole("SUPERVISOR"))
    {
        Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
    }
    var vacaciones = ViewBag.Vacaciones as SitiosWeb.Model.SolicitudVacaciones;
    dynamic fechas = 0;
    var id = ViewBag.Id as int?;
    fechas = vacaciones.Vacaciones.Where(c => c.IdSolicitud == id).ToList();
    
    var fechaAMarcar = fechas as IEnumerable<SitiosWeb.Model.Vacaciones>;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/calendar.css" />
    <script src="~/js/solicitarVP.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body>
    <div class="contains">
        <div class="head">
            <img src="https://ld-wp73.template-help.com/imperion/corporatelanding/wp-content/uploads/2019/07/img-1-sec.png" alt="Form Image" class="image">
            <div class="titles">
                <h1 class="title-page">Reporte de  </h1>
                <h1 class="title-span">Vacaciones Personales</h1>
            </div>
        </div>
        <label class="error" style="display: none;"></label>
        <label class="success" style="display: none;"></label>

        <div class="content">

            <div class="form">
                <div id="text-block" class="text-block">
                    <label id="acumuladas" class="font-semibold">Cantidad de dias solicitados: @vacaciones.TotalDias.</label><br />
                    <label class="font-semibold"></label><br />

                    <label class="font-semibold">Días solicitados:</label>
                    <label class="font-semibold"></label><br />


                </div>
                <form id="solicitudVC" method="post" asp-action="ReporteVacaciones">
                    <div class="buttons" style="justify-content:end">
                        <button id="Solicitar" type="submit">Volver</button>
                    </div>
                </form>


            </div>
            <div class="calendar" ID="calendar">
                <div class="calendar-header">
                    <button id="prevMonth">< </button>
                    <h2 id="monthYear"></h2>
                    <button id="nextMonth"> ></button>
                </div>
                <div class="days" id="calendarDays">
                </div>

            </div>

        </div>
    </div>
</body>
<script>
    let diaMarcar = [
    @for (var i = 0; i < Model.Count(); i++)
    {
        @: '@Model.ElementAt(i).Day'
        @if (i < Model.Count() - 1)
        {
            @:,

        }
    }
                    ];
    let tipoDia = [
    @for (var i = 0; i < Model.Count(); i++)
    {
        @: '@Model.ElementAt(i).Tipo'
        @if (i < Model.Count() - 1)
        {
            @:,
        }
    }
                    ];
    let DiaDescripcion = [
    @for (var i = 0; i < Model.Count(); i++)
    {
        @: '@Model.ElementAt(i).Descripcion'
        @if (i < Model.Count() - 1)
        {
            @:,
        }
    }];
    let vcInicio = [];
    let vcFin = [];
    let diasAMarcar = [
    @for (var i = 0; i < fechaAMarcar.Count(); i++)
    {
        @: '@fechaAMarcar.ElementAt(i).Fecha'
        @if (i < Model.Count() - 1)
        {
            @:,
        }
    }];
    let diasPasados = [];
    let aprobar = false;
    let marcarVC = true; 
    let marco = true;
</script>