@using System.Globalization
@model IEnumerable<SitiosWeb.Model.SolicitudVacaciones>
@{
    if(User.IsInRole("JEFATURA"))
    {
        Layout = "~/Views/Shared/_LayoutJefatura.cshtml";
    }
    else if(User.IsInRole("SUPERVISOR"))
    {
        Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
    }
    var cultura = new CultureInfo("es-ES");
    var Nombres = ViewBag.Nombres as IEnumerable<SitiosWeb.Model.Colaboradores>;

}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selección de Vacaciones Colectivas</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/table.css" />
</head>

<body>

    <div class="content-table">

        <div class="contenedor">
            <h2 id="titulolbl">Selección de vacaciones personales</h2>

            <label class="success" id="succ"></label>
            @if (Model.Count() == 0)
            {
                <label style="font-weight:bold; font-size:30px; align-self:center;">No hay vacaciones pendientes</label>
            }
            else if (Model.Count() >= 9)
            {
                <div class="TablaForm-Container">

                    <table class="table table-striped tabla">
                        <thead>
                            <tr>
                                <th>
                                    <label>Nombre Colaborador</label>
                                </th>
                                <th>
                                    <label>Total de dias</label>
                                </th>
                                <th>
                                    <label>Fecha de finalizacion</label>
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var nombre = Nombres.FirstOrDefault(c => c.Identificacion == item.IdEmpleado);
                                <tr>
                                    <td>

                                        @Html.DisplayFor(modelItem => nombre != null ? nombre.Nombre + " " + nombre.Apellidos : "Nombre no encontrado")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalDias)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaFin)

                                    </td>
                                    <td>
                                        <a asp-action="AprobarVacaciones" asp-route-id="@item.IdSolicitud" asp-route-name="@nombre.Nombre @nombre.Apellidos" class="btn btn-danger">Manejar solicitud</a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>

            }
            else
            {
                <div class="tarjetas">
                @foreach (var item in Model)
                    {
                        var nombre = Nombres.FirstOrDefault(c => c.Identificacion == item.IdEmpleado);

                        <a asp-action="AprobarVacaciones" asp-route-id="@item.IdSolicitud" asp-route-name="@nombre.Nombre @nombre.Apellidos" class="tarjeta">
                            <p>Nombre Colaborador:</p>   @nombre.Nombre @nombre.Apellidos
                            <p>Total de dias:</p> @item.TotalDias
                        <p>Fecha de finalizacion:</p> @item.FechaFin.ToString("d 'de' MMMM", cultura)
                        <br>
                        <br>
                        <h5>Click para manejar</h5>
                    </a>


                }
                </div>

            }



            <img src="https://ld-wp73.template-help.com/imperion/corporatelanding/wp-content/uploads/2019/07/img-1-sec.png" alt="Form Image">
        </div>
    </div>
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const successLabel = document.querySelector('.success');
        const successMessage = '@TempData["Success"]'.trim();

        if (successMessage === '') {
            successLabel.style.display = 'none';
            successLabel.classList.remove('fadeIn', 'fadeOut');
        } else {
            successLabel.textContent = successMessage;
            successLabel.style.display = 'block';
            successLabel.classList.remove('fadeOut');
            successLabel.classList.add('fadeIn');

            setTimeout(() => {
                successLabel.classList.remove('fadeIn');
                successLabel.classList.add('fadeOut');
                setTimeout(() => {
                    successLabel.style.display = 'none';
                    successLabel.classList.remove('fadeOut');
                }, 2000);
            }, 2000);
        }
    });
</script>
