@using System.Globalization
@model IEnumerable<SitiosWeb.Model.VacacionesColectivas>
@{
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
    var cultura = new CultureInfo("es-ES");

    var dep = TempData["dep"] as IEnumerable<SitiosWeb.Model.Departamentos>;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selección de Vacaciones Colectivas</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="~/css/table.css" />
</head>

<body>

    <div class="content-table">

        <div class="contenedor">
            <h2 id="titulolbl">Selección de vacaciones colectivas</h2>

            <label class="success" id="succ"></label>
            @if (Model.Count() == 0)
            {
                <label style="font-weight:bold; font-size:30px; align-self:center;">No hay vacaciones colectivas pendientes</label>
            }
            else if (Model.Count() >= 9)
            {
                <div class="TablaForm-Container">

                    <table class="table table-striped tabla">
                        <thead>
                            <tr>
                                <th>
                                    <label>Departamento</label>
                                </th>
                                <th>
                                    <label>Fecha de inicio</label>
                                </th>
                                <th>
                                    <label>Fecha de finalizacion</label>
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>

                                        @Html.DisplayFor(modelItem => dep.FirstOrDefault(c => c.IdDepartamento == item.IdDepartamento).NomDepartamento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaInicio)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaFin)

                                    </td>
                                    <td>
                                        <a asp-action="ManejarVC" asp-route-id="@item.IdVacaciones" class="btn btn-danger">Manejar solicitud</a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>

            }
            else
            {
                <div class="tarjetas">
                @foreach (var item in Model)
                {
                    <a asp-action="ManejarVC" asp-route-id="@item.IdVacaciones" class="tarjeta">
                        <p>Departamento:</p>   @dep.FirstOrDefault(c => c.IdDepartamento == item.IdDepartamento).NomDepartamento
                        <p>Fecha de inicio:</p> @item.FechaInicio.ToString("d 'de' MMMM", cultura)
                        <p>Fecha de finalizacion:</p> @item.FechaFin.ToString("d 'de' MMMM", cultura)
                        <br>
                        <br>
                        <h5>Click para manejar</h5>
                    </a>


                }
                </div>

            }



            <img src="https://ld-wp73.template-help.com/imperion/corporatelanding/wp-content/uploads/2019/07/img-1-sec.png" alt="Form Image">
        </div>
    </div>
</body>
</html>

