@model SitiosWeb.Model.SolicitudPermiso

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>SolicitudPermiso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasHorasFuera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasHorasFuera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpleadoNavigation.Identificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoPermisoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoPermisoNavigation.IdTipoPermiso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSolicitud">Editar</a>
    
</div>
