@model IEnumerable<SitiosWeb.Model.SolicitudPermiso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DOH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasHorasFuera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoPermisoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DOH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasHorasFuera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoPermisoNavigation.IdTipoPermiso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSolicitud">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.IdSolicitud">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
