@model SitiosWeb.Model.Rebajos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Rebajos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRebajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRebajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aprobacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aprobacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdColaboradorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdColaboradorNavigation.Identificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoRebajoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoRebajoNavigation.IdTipoRebajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdValidadorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdValidadorNavigation.Identificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InconsistenciaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InconsistenciaNavigation.IdInconsistencia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRebajo">Edit</a> |
    <a asp-action="Index"></a>
</div>
</body>
</html>
