@model IEnumerable<SitiosWeb.Model.Rebajos>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaRebajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aprobacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdColaboradorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoRebajoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdValidadorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InconsistenciaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRebajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aprobacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdColaboradorNavigation.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoRebajoNavigation.IdTipoRebajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdValidadorNavigation.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InconsistenciaNavigation.IdInconsistencia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRebajo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRebajo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRebajo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
