@{
    Layout = "~/Views/Shared/_LayoutColaborador.cshtml";
}
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor
@{
    var userId = HttpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/marcaNormal.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Marcas</title>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <h2>Opciones de marcas</h2>
            <ul>
                
                <li><a asp-controller="Home" asp-action="FaceIDColab">Marca con Renocimiento Facial</a></li>
                <li><a asp-controller="Marca" asp-action="carcarComboxActividades">Marcar horas Extras</a></li>


            </ul>
        </aside>
        <main class="main-content">
            <h1>Control de Marcas</h1>
            <div class="date">Fecha: @DateTime.Now.ToString("yyyy/MM/dd")</div>

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }
            <form asp-controller="Marca" asp-action="MarcaNormal" method="post">
                <div class="form-group">
                    <label for="codigo">Codigo</label>
                    <input type="text" id="codigo" style="border: none; background-color: white; text-align: center;" name="codigo" value="@userId" class="form-control" readonly />
                </div>

                <div class="buttons">
                    <button type="submit">Marcar entrada</button>
                </div>
            </form>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model == null)
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                             
                            </tr>
                        }
                        else
                        {
                            foreach (var marca in Model)
                            {
                                <tr>
                                    <td><input type="text" value="@marca.IdEmpleado" readonly /></td>
                                    <td><input type="text" value="@marca.InicioJornada" readonly /></td>
                                    <td><input type="text" value="@marca.FinJornada" readonly /></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                </div>


        </main>
    </div>

</body>
</html>