
@{
    string layout = null;
    if (User.IsInRole("JEFATURA"))
    {
        layout = "~/Views/Shared/_LayoutJefatura.cshtml";
    }
    else if (User.IsInRole("COLABORADOR"))
    {
        layout = "~/Views/Shared/_LayoutColaborador.cshtml";
    }
    else if (User.IsInRole("SUPERVISOR"))
    {
        layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
    }
    Layout = layout;
}
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor
@{
    var userId = HttpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.NameIdentifier);
}
@{
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expediente de los Colaboradores</title>
    <link rel="stylesheet" type="text/css" href="~/css/SolicitudIncapacidad.css">
</head> 
<body>
    <div class="container">
        <aside class="sidebar">
            @if (User.IsInRole("JEFATURA") || User.IsInRole("SUPERVISOR"))
            {
                <aside class="sidebar-menu">
                    <h2>Gestion Incapacidades</h2>
                    <ul>
                        <li><a asp-controller="SolicitudInca" asp-action="cargarTablaIncapacidades" style="text-decoration:none; color:inherit;">Gestión de Incapacidades</a></li>
                        <li><a asp-controller="Home" asp-action="ImpactoMonetario" style="text-decoration:none; color:inherit;">Calcular Impacto Monetario</a></li>
                        <li><a asp-controller="SolicitudInca" asp-action="CargarTAblaCg" style="text-decoration:none; color:inherit;">Control General</a></li>
                    </ul>
                </aside>
            }
        </aside>
        <main class="main-content">
            @if (!string.IsNullOrEmpty(successMessage))
            {
                <div class="alert alert-success">@successMessage</div>
            }

            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert alert-danger">@errorMessage</div>
            }
            <h1>Solicitud de incapacidades</h1>
            <form asp-controller="SolicitudInca" asp-action="SolicitudIncapacidad">
                <div class="form-row">
                    <div class="input-group">
                        <label for="identificacion">Identificación</label>
                        <input type="text" id="identificacion" name="identificacion" value="@userId" readonly>
                    </div>
                    <div class="input-group">
                        <label for="puestoLaboral">Puesto Laboral</label>
                        <input type="text" id="puestoLaboral" name="puestoLaboral">
                    </div>
                </div>
                <div class="form-row">
                    
                    <div class="input-group">
                        <label for="tipoIncapacidad">Tipo de Incapacidad</label>
                        <select id="tipoIncapacidad" name="IdTipoPermiso">
                            @if (ViewBag.Permisos != null)
                            {
                                @foreach (var permiso in ViewBag.Permisos)
                                {
                                    <option value="@permiso.IdTipoPermiso">@permiso.Descripcion</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-group">
                        <label for="fechaInicial">Fecha Inicial</label>
                        <input type="date" id="FechaInicio" name="FechaInicio">
                    </div>
                    <div class="input-group">
                        <label for="fechaFinal">Fecha Final</label>
                        <input type="date" id="fechaFinal" name="FechaFin">
                    </div>
                </div>
                <div class="buttons">
                    <button type="reset" class="btn-cancelar">Cancelar</button>
                    <button type="submit" class="btn-solicitar">Solicitar</button>
                </div>
            </form>

        </main>
    </div>
</body>
</html>
