@model IEnumerable<SitiosWeb.Model.SolicitudeRebajo>

@{
    Layout = "~/Views/Shared/_LayoutSupervisor.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/menuInconsistencias.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitude</title>
</head>
<body>
    <div class="wrapper">

        <div id="contenedor">
            <div id="contenido">

                @if (Model == null || !Model.Any())
                {
                    <h2>No hay solicitudes pendientes</h2>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <p>
                            ID de la solicitud: @item.IdSolicitud.ToString()
                            <br />
                            Identificación de la jefatura: @item.IdSolicitante?.ToString()
                            <br />
                            Inconsistencia: @item.IdInconsistencia.ToString()
                            <br />
                            Observaciones: @item.Observaciones?.ToString()
                            <br />
                            <br />
                            <a asp-controller="SolicitudeRebajo" asp-action="formRebajo" asp-route-id="@item.IdSolicitud">Aplicar Rebajo</a>
                        </p>
                    }
                }

            </div>
        </div>

        <div id="pie">
        </div>
    </div>
</body>

</html>
